@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #9333ea;
    color: white;
}

.not-tailwind {
    all: revert;
}

.markdown-tailwind-parser h1 {
    @apply text-3xl font-bold;
}

.markdown-tailwind-parser h2 {
    @apply text-2xl font-semibold;
}

.markdown-tailwind-parser h3 {
    @apply text-xl font-medium;
}

.markdown-tailwind-parser code {
    @apply whitespace-pre-wrap;
}
